body {
    font-family: Arial, Helvetica, sans-serif;
}

#paginationLectures a {
    display:inline-block;
    margin-right:5px;
}

#deleteDialog {
    width: 400px;
    height: 200px;
    background-color: lightblue;
    border-radius: 4px;
    margin: 300px 250px 100px 480px;
    z-index: 1000;
    display: none;
    position: absolute;
    text-align:center;
}

#addDialog {
    width: 600px;
    height: 580px;
    background-color: lightblue;
    border-radius: 4px;
    margin: 150px 250px 100px 400px;
    z-index: 1000;
    display: none;
    position: absolute;
    overflow: hidden;
}

#addDialog .form-module {
    height: 90%;
    width: 80%;
    position: relative;
    margin: 0 auto;
}

p {
    font-size: 15px;
    line-height: 100px;
}

.options {
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
}

.options button {
    text-decoration: rgba(27,13,13,0.71);
    color: #2B2B2B;
    text-align: center;
    padding: 15px 0;
}

.options button:first-child {
    width: 20%;
    margin-right: 10px;
    margin-left: 10px;
    float:right;
}

.options button:last-child {
    width: 20%;
    float:right;
}

.close {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 40px;
    border-radius: 0;
    float:right;
    cursor: pointer;
    color: rgba(55, 27, 27, 0.71);
    border: 2px solid;
}

.cover {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}


#professorCourses {
    margin: 50px 50px 10px 10px;
    float:left;
    display:none;
}

#courseDetails {
    float:left;
    display: none;
    margin: 60px 10px 10px 10px;
}



input.courseName {
    display: none;
}

td select {
    display: none;
}

td.edit span {
    display: none;
}

td.edit input {
    display: initial;
}

td.edit select {
    display: initial;
}

button[disabled] {
    opacity: 0.65;
}

#warning {
    display: none;
    color: red;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

