body {
    font-family: Arial, Helvetica, sans-serif;
}

#allCourses {
    margin: 50px 50px 10px 10px;
    float: left;
    display: none;
}

#message {
    display: none;
    text-align: center;
}

#warning {
    display: none;
    color: red;
}

td span {
    cursor:pointer;
}

#validation {
    float:left;
    display: none;
    margin: 80px 10px 10px 10px;
}

#paginationValidation a {
    display:inline-block;
    margin-right:5px;
}

#validate {
    display: inline;
    float:right;
}

#validateBtn {
    margin-right: 10px;
}

#validateBtn[disabled] {
    opacity: 0.3;
}

#invalidateBtn[disabled] {
    opacity: 0.3;
}

#courseTitle {
    display: inline;
}

#aboveTable {
    margin-bottom: 15px;
}

#warning2 {
    display: none;
    color: red;
}
